<nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">MTG Data Fish</a>
</nav>

<div class="container">
    <div class="jumbotron">
        Welcome to MTG Data Fish
    </div>
    <div id="articles"></div>
    <div id="notes"></div>
    <div id="comments"></div>
    
</div>

<nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
</nav>