<nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">MTG Data Fish</a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                Sign up for MTG Data Fish
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@email.com">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="A Secret Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>

</div>

<nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
</nav>